# Serve static export in production, proxy to development server in
# development.

:80

# Health endpoint
handle /health {
	respond "{\"status\":\"ok\"}" 200
}

@dev {
	expression {env.SERVICE_MODE} == "development"
}

# Backend path matching expressions.
@backend path /admin/* /api/*
@backend-dev path /admin/* /api/* /static/*

# In development, proxy backend requests to the backend Django
# development server, and proxy frontend requests to the React
# development server.
handle @dev {
	handle @backend-dev {
		reverse_proxy backend:8000
	}
	reverse_proxy frontend:3000
}

# In production, serve static files for both backend and frontend,
# proxying only Django admin requests to the Django backend.
handle @backend {
	reverse_proxy backend:8000
}
handle_path /static/* {
	root * /backend
	file_server
}

handle {
	root * /frontend
	try_files {path}.html
	file_server
}
